@import '~assets/scss/settings/_colors';
@import '~assets/scss/settings/_var';


.viewport-container {
  background-color: #fff;
  width: 100%;
  z-index: $z-modal;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;

  .viewport-subcontainer {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

  }

  .viewport-header {
    width: 100%;
    font-size: 1.5em;
    border-bottom: 5px solid $color-grey-main;
    height: 3em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
  }

  .viewport-galleryName {
    font-size: 1.2em;
    margin: 0.5em;
    width: 70%;
    font-weight: 900;
    color: $color-grey-dark;
  }

  .viewport-close {
    width: 30%;
    font-size: 1.5em;
    color: $color-grey-dark;
    cursor: pointer;
    margin: 0.5em;
    text-align: right;
  }

  .viewport-close:hover {
    color: $color-grey-light;
  }

}

.viewport-layout {
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: center;

  .viewport-col-main {
    width: 70%;
  }

  .viewport-col-secundary {
    width: 15%;
  }

  .arrow {
    margin-top: 3em;
    font-size: 3em;
    color: $color-grey-dark;
    cursor: pointer;
  }

  .arrow:hover {
    color: $color-grey-light;
  }

  .margin-left {
    margin-left: 0.5em;
  }

  .margin-right {
    margin-right: 0.5em;
  }

  @media (max-width: 600px) {
    .arrow {
      margin-top: 1em;
    }

    .margin-left {
      margin-left: 0.1em;
    }

    .margin-right {
      margin-right: 0.1em;
    }
  }

}

.viewport-img {
  width: 100%;
  max-width: 800px;

  img {
    width: 100%;
    height: auto;
  }
}

.viewport-legend {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.2em;
  border-right: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  max-width: 800px;
  text-align: left;
  margin: 1em auto;
  position: relative;

  h6 {
    font-size:1em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    color: $color-grey-dark;
    line-height: 120%;
  }

}

.viewport-legend:after {
  content: "";
  border-top: 1px solid $color-grey-light;
  width: 60%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .viewport-legend {
    padding: 0.5em;
  }
}