@import '~assets/scss/settings/_colors';

.main-header {
  text-align: center;
  border-bottom: 5px solid  $color-grey-main;
  margin-bottom: 1em;
  padding: 0.5em;

  h1 {
    margin: 0;
  }
}

.header-image {
  border-bottom: 5px solid #FF4242;
  margin-bottom: 1rem;
}