@import '~assets/scss/common/_media-queries';

.slider {

  .control-button {
    position: absolute;
    z-index: 1;
    right: 1em;
    cursor: pointer;
    top: 1em;
    color: #fff;
    font-size: 1.5em;
  }

  .slider-container {
    align-items: stretch;
    margin: auto;
    overflow: hidden;
    height: 250px;
    width: 100%;
    position: relative;
    cursor: pointer;
    /*  width: 90%; */
    .slider-item {
      position: absolute;
      width: 100%;
      height: 250px;
      box-sizing: border-box;
      border-radius: 5px;
      transition: all 1 ease-in-out;
      -webkit-transition: all 1s ease-in-out;

      &--inactive {
        opacity: 0;
        visibility:hidden;
        /* transform: translate3d(20px,0px,0px); */
      }
      &--active {
        visibility:visible;
        display: block;
      }
    }

    .slider-description {
      left: 20px;
      bottom: 20px;
      position: absolute;
      background: #000;
      padding: 0.5rem;
      color: #fff;
      font-weight: 900;
      letter-spacing: 0.1rem;
      border-radius: 5px;
      transition: all 1 ease-in-out;

      &--active {
        opacity: 1;
      }

      &--inactive {
        opacity: 0;
         /* transform: translate3d(200px,0px,0px); */
      }
    }
  }

  .balls-container {
    text-align: center;
    margin-top: 0.1em;
    .balls-item {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #ededed;
      display: inline-block;
      margin: 0.2em;
      transition: all 1 ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      &--active {
        background: #FF4242;
      }
    }
  }
}



.main-footer {
  padding: 1em;
  font-size: 0.9em;
  text-align: center;
  border-radius: 10px;

  margin-top:1em;
  margin-bottom:1em;

  .content {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5em;
    color: #666;
  }
}

@include for-phone-only {
  .slider {

    .slider-container {
      height: 150px;

      .slider-item {
        height: 150px;
      }
    }
  }
}