@import '~assets/scss/common/_media-queries';

.layout-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.layout-views {
  width: 66%;
}

.layout-sidebar {
  width: 29%;
}

@include for-phone-only {
  .layout-container {
    flex-wrap: wrap;
  }

  .layout-views {
    width: 100%;
  }

  .layout-sidebar {
    margin-top: 1em;
    width: 100%;
  }
}

.align-left {
  text-align: left ;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hideScroll {
  overflow: hidden;
}
