.appContainer {
  /*
  border-left: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid rgb(231, 230, 230);
  border-right: 1px solid rgb(231, 230, 230);
  */
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 1em;
  font-family: $main-font;
}

.layout-container {
  display: flex;
  justify-content: space-around;
}

.layout-views {
  width: 69%;
}

.layout-sidebar {
  width: 29%;
}