$color-musimusi: #FF4242;
$color-dead: #F4FAD2;
$color-wasabi: #D4EE5E;
$color-pebbles: #E1EDB9;
$color-holding: #F0F2EB;

$color-links: #FF4242;
$color-links-hover: #7c7c7c;

$color-grey-main: #ccc;
$color-grey-light: #efefef;
$color-grey-dark: #7c7c7c;