@font-face {
  font-family: 'main-font';
  src: url('assets/scss/fonts/main-font.eot');
  src: url('assets/scss/fonts/main-font.eot?#iefix') format('embedded-opentype'),
  url('assets/scss/fonts/main-font.ttf') format('truetype'),
}

$main-font: 'main-font', 'Verdana', 'Helvetica', 'Arial', sans-serif !default